@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #424F57;
    box-sizing: border-box;
}
h1 {
    font-size: 36px;
    line-height: 36px;
    flex-grow: 1;
    padding: 40px 0;
}

h2 {
    font-size: 60px;
    line-height: 45px;
    text-transform: uppercase;
}

h3 {
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.color_blue {
    color: #14AFCA;
}

.main_section {
    perspective: 2px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden; 
   height: 165vh;
   
    
}
.section1 {
    box-sizing: border-box;
    transform-style: preserve-3d;
    width: 100%;
    height: 65vh;
}
.section1::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-color: rgba(0, 0, 0, 0.75);
    background-blend-mode: Darken;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
} 
 .section2 {
    box-sizing: border-box;
    transform-style: preserve-3d;
    width: 100%;

} 
 .section2::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 670px;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url(../img/Rectangle\ 20\ copy\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
} 
 .section3 {
    box-sizing: border-box;
    transform-style: preserve-3d;
    width: 100vw;

} 
 .section3::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 600px;
    bottom: 0;
    z-index: -1;
    transform-origin: center;
    min-height: 700px;
    background-image: url(../img/Rectangle\ 20\ copy\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(2);
    
} 
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header h1 span:nth-child(1) {
    font-weight: 300;

}

header h1 span:nth-child(2) {
    font-weight: 900;
    text-transform: uppercase;

}

.header_nav_item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 36px;
    text-transform: uppercase;
    margin: 0 25px;
}

.header_nav_item:hover {
    color: #14AFCA;
}

.header_nav {
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 50px;

}
.section1 div h3 {
    padding-top: 150px;
    padding-bottom: 150px;
    color: #ffffff;
}
#what {
    background-color: #ffffff;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

#what h2 {
    padding-top: 200px;
}

#what h4 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

#what p {
    margin-top: 25px;
    padding-bottom: 180px;
}

.container_curv1 {
    min-height: 500px;
    clip-path: polygon(0 0, 50% 15%, 100% 0, 100% 85%, 50% 100%, 0 85%);
}
#companies h2 {
    text-align: center;
    padding-top: 50px;
}

#companies h4 {
    text-align: center;
    margin-top: 25px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.companies_flex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8vh;
    column-gap: 2vw;
    justify-content: space-between;
    padding-left: 15vw;
    padding-right: 15vw;
    margin-top: 50px;
    margin-bottom: 100px;
}

.company_logo {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    min-width: 15vw;
    max-width: max-content;
}

.company_logo img {
    display: inline-block;
    object-fit: contain;
}

.companies_flex .company_logo:nth-child(2) {
    padding: 1vw;
    background-color: #ffffff;
}
.container_curv2 {
    min-height: 650px;
    clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    background-color: #ffffff;
    box-sizing: border-box;
    padding-top: 100px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.container_curv2 h2 {
    text-align: center;
}

.container_curv2 h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 25px;
}
.companies_flex .company_logo:nth-child(2) {
    padding: 1vw;
    background-color: #ffffff;
}

.team_grid {
    display: grid;
    grid-template-columns: repeat(3,  22vw);
    grid-gap: 8vh 2vw;
    margin-top: 50px;
    text-align: center;
}

#team p {
    font-size: 15px;
    margin-top: 25px;
}
#testimonials {
    padding: 100px 15vw 150px 15vw;
}

#testimonials h2 {
    text-align: center;
}

#testimonials h4 {
    text-align: center;
    color: #ffffff;
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
}

#testimonials p {
    font-style: italic;
    color: #D3CCCC;
    margin-top: 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#testimonials span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-align: end;
    padding-right: 8vw;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    margin-top: 25px;
}

#why p {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
}

footer {
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    padding-left: 15vw;
    padding-right: 15vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
}

footer span {
    font-size: 14px;
    line-height: 24px;
}

footer span:last-child {
    font-size: 16px;
    font-weight: 700;
}
.container_curv3 {
    min-height: 500px;
    clip-path: polygon(50% 15%, 100% 0, 100% 100%, 0 100%, 0 0);
    background-color: #ffffff;
    box-sizing: border-box;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}

.container_curv3 h2 {
    padding-top: 200px;
}

.container_curv3 h4 {
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
}

.container_curv3 p {
    margin-top: 50px;
}